* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, white 0%, #fafaf9 30%, fafaf9 100%);
  padding: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sora", sans-serif;
}

.card {
  padding: 16px 16px 20px 16px;
  background: hsl(0, 0%, 100%);
  box-shadow: 8px 8px 20px 0 rgba(85, 85, 85, 0.08);
  border-radius: 14px;
}

.profile-image {
  width: 100%;
  border-radius: 12px;
}

.design {
  background: #f2eafd;
  color: #7c19ee;
  font-size: 10px;
  font-weight: 700;
  border-radius: 12px;
  padding: 6px 16px;
  margin: 16px 0;
  width: 36px;
}

.card-title {
  color: #20293a;
  font-size: 18px;
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  color: #394150;
  padding: 6px 0;
  width: 330px;
  line-height: 1.6;
}

.tine-line {
  border-top: 2px solid #e5eaf0;
  margin: 20px -16px;
}

.writer {
  font-size: 12px;
  color: #394150;
  font-weight: 500;
}
