* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-image: url(./resources/bg-guess-the-word.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(231, 44%, 11%);
  padding: 1.6rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.latters {
  font-size: 2rem;
  background-color: hsl(215, 18%, 35%);
  color: hsl(216, 33%, 96%);
  border-radius: 0.25rem;
  box-shadow: 0 4px 2px hsl(231, 44%, 5%);
  padding: 1rem 4rem;
  letter-spacing: 0.3rem;
}

.status-bar {
  display: flex;
  gap: 4rem;
  color: hsl(216, 33%, 96%);
  font-size: 0.95rem;
}

.tries {
  display: flex;
  align-items: center;
}

.tries-dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: hsl(290, 54%, 28%);
  transition: background-color 0.3s ease;
}

.tries-dots {
  display: flex;
  gap: 6px;
  margin-left: 8px;
  flex-direction: row-reverse;
}

.tries-dot.used {
  background-color: hsl(215, 18%, 35%);
}

.mistakes {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1.8rem 0;
}

.letter-box {
  width: 2.8rem;
  color: hsl(216, 33%, 96%);
  background-color: transparent;
  font-size: 1.25rem;
  border: hsl(215, 18%, 35%) 2px solid;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem;
  text-align: center;
}

.letter-box:focus {
  border: 2px solid hsl(286, 76%, 61%); /* Mor kenarlık */
  outline: none; /* Varsayılan mavi kenarlığı kaldırır */
}

.button-bar {
  display: flex;
  gap: 1.3rem;
}

button {
  background-color: hsl(286, 76%, 61%);
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 3px 2px 0 hsl(290, 54%, 28%);
  color: hsl(216, 33%, 96%);
  padding: 0.6rem 2rem;
}
